
@font-face {
	font-family:'SamsungSharpSans';
	src:url(../fonts/SamsungSharpSansBd.eot);
	src:url(../fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"), url(../fonts/SamsungSharpSansBd.woff) format("woff");
	font-weight:bold;
	font-style:normal
}
@font-face {
	font-family:'SamsungOne';
	src:url(../fonts/SamsungOne-400.eot);
	src:url(../fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(../fonts/SamsungOne-400.woff) format("woff");
	font-weight:bold;
	font-style:normal
}
@font-face {
    font-family:'iCielSamsungSharpSansBold';
    src:url(../fonts/iCielSamsungSharpSans-Bold.eot);
    src:url(../fonts/iCielSamsungSharpSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/iCielSamsungSharpSans-Bold.woff) format('woff'),
         url(../fonts/iCielSamsungSharpSans-Bold.ttf) format('truetype'),
         url(../fonts/iCielSamsungSharpSans-Bold.svg#iCielSamsungSharpSansBold) format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face {
    font-family:'iCielSamsungSharpSansMedium';
    src:url(../fonts/iCielSamsungSharpSans-Medium.eot);
    src:url(../fonts/iCielSamsungSharpSans-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/iCielSamsungSharpSans-Medium.woff) format('woff'),
         url(../fonts/iCielSamsungSharpSans-Medium.ttf) format('truetype'),
         url(../fonts/iCielSamsungSharpSans-Medium.svg#iCielSamsungSharpSansMedium) format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face {
    font-family:'iCielSamsungSharpSansRegular';
    src:url(../fonts/iCielSamsungSharpSansRegular.eot);
    src:url(../fonts/iCielSamsungSharpSansRegular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/iCielSamsungSharpSansRegular.woff) format('woff'),
         url(../fonts/iCielSamsungSharpSansRegular.ttf) format('truetype'),
         url(../fonts/iCielSamsungSharpSansRegular.svg#iCielSamsungSharpSansRegular) format('svg');
    font-weight:normal;
    font-style:normal;

}

.fs-no-scroll {
	overflow:hidden;
}

.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.fs-hidePc{
 display:none;
}

/*LAYOUT COMMON*/
.fs-cnt-wrap, .fs-cnt-inr{
	position:relative;
	display:block;
	width:100%;
  height:auto;
  overflow:hidden;
}

.fs-section-box, .fs-title, .fs-section-inr {
	position:relative;
  display:block;
  width:100%;
}

.fs-title{
  text-align: center;
}

.fs-bg {
	position:absolute;
	left:0;
	top:0;
	right:0;
  bottom:0;
}
.fs-bg div{
  position:absolute;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

.fs-bg-bot::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-bot.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.fs-bg-sp-bot::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-sp-bot.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.spPic, .spBg {
	display:none;
}

.fs-box, .fs-box-inr {
	position:relative;
}

.fs-area-bg,
.fs-area-pic,
.fs-area-txt {
	position:relative;
	display:block
}

.fs-area-pic img {
	width:auto;
}

.fs-area-bg::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}

.size-01{width:8.3333%}
.size-02{width:16.6666%}
.size-03{width:25%}
.size-04{width:33.3333%}
.size-05{width:41.6666%}
.size-06{width:50%}
.size-07{width:58.3333%}
.size-08{width:66.6666%}
.size-09{width:75%}
.size-10{width:83.3333%}
.size-11{width:91.6666%}
.size-12{width:100%}

.fs-cnt-inr{
  padding-top:70px;
}

.fs-logo{
  position: absolute;
  right: 5.3vw;
  top: 21px;
  width: auto;
  height: auto;
}
.fs-logo a{
  display:block;
}
.fs-logo img{
  width:auto;
  height:auto;
  max-width: 155px;
}


/*Common*/
.fs-cnt-wrap h2 {
  font-family:"iCielSamsungSharpSansBold", arial;
  font-weight:normal;
}
.fs-cnt-wrap h3{
    font-family:"iCielSamsungSharpSansMedium", arial;
    font-weight:normal;
}
.fs-cnt-wrap p {
    font-family:"iCielSamsungSharpSansMedium", arial;
    font-weight:normal;
}
.fs-title h2{
    position:relative;
    font-family: 'iCielSamsungSharpSansBold';
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.fs-title .fs-area-pic img{
    height: auto;
    max-width: 705px;
    margin: 0 auto;
}

/* Popup Condition */
.fs-overlay-condition{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  color: #000;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}
.fs-overlay-condition::before, .fs-overlay-condition::after{
  content:'';
  position:relative;
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
.fs-overlay-condition.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.fs-overlay-condition-inr {
  position: relative;
  display: inline-block;
  width: 80%;
  height: auto;
  min-height: 100vh;
  max-width: 900px;
  vertical-align: middle;
  background-color: #fff;
  padding: 5%;
  z-index: 100;
}
.fs-overlay-condition-detail{
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
.fs-overlay-condition-detail h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}
.fs-overlay-condition-detail p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.4;
}
.fs-overlay-condition-detail p strong {
  font-family: "iCielSamsungSharpSansBold", arial;
  font-weight: normal;
}
.fs-close-overlay-condition{
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 50px;
  width: 20px;
  height: 20px;
  background: url(../images/close.png) no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
/*  */



/*Popup*/
.fs-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 10;
  overflow: hidden;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out 0s,visibility 0s linear .3s;
  transition: all .3s ease-in-out 0s,visibility 0s linear .3s;
}
.fs-overlay::before, .fs-overlay::after{
  content:'';
  position:relative;
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
.fs-overlay.active {
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}
.fs-overlay-inr {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 600px;
  height: auto;
  padding-bottom: 90px;
  background: url(../images/bg-popup.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
}
/* end popup */

.fs-icon-pop{
  position: relative;
  display: block;
  text-align: center;
  padding-top: 40px;
}
.fs-icon-pop .fs-area-pic img{
  max-width: 64px;
}
.fs-overlay-inr .fs-box {
  display:inline-block;
  padding:0 20px;
  vertical-align:top;
}
.fs-box-info{
  display: block;
  position: relative;
}
.fs-info h2, .fs-info p, .fs-des p{
  color: #fff;
}
.fs-info h2{
  font-size: 24px;
  padding-top: 36px;
}
.fs-info p{
  padding-top: 36px;
}
.fs-des p{
  padding-top: 30px;
}
.fs-info p, .fs-des p{
  font-size: 16px;
  font-family: 'SamsungOne';
}
.pop-thanks .fs-box-but{
  padding-top: 44px; 
}
.pop-thanks .fs-box-pic{
  position: relative;
  display: block;
  width: 90%;
  max-width: 272px;
  margin: 0 auto;
  padding-top: 50px;
}
.pop-thanks .fs-area-pic img{
  width: 100%;
}
/*SelectList*/
.fs-select {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.fs-select-list{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}

.fs-select-header{
  position: relative;
  display: block;
  height: 54px;
  padding: 0 40px 0 15px;
  line-height: 45px;
  background-color: transparent;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 2;
  text-align: left;
  border: 1px solid #fff;
}
.fs-select .fs-select-header::after{
  content: '';
  position: absolute;
  right: 21px;
  top: 50%;
  width: 19px;
  height: 15px;
  margin-top: -6px;
  pointer-events: none;
  background: url(../images/arrow-down.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.fs-select.open .fs-select-header::after{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fs-select-header h3, .fs-select-header p{
  position:relative;
  top:2px;
	display:inline-block;
	width:auto;
	max-width:100%;
	vertical-align:middle;
  font-family:'SamsungOne';
  font-weight:normal;
  font-size:16px;
  color:#fff;
  line-height:1.4;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	height:auto;
	margin:2px 0 0 0;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  z-index: 3;
}

.fs-select-box ul{
	position:relative;
	display:block;
	max-height:240px;
	text-align:left;
	-webkit-border-radius:5px;
	border-radius:5px;
  overflow-x:hidden;
	scroll-behavior:smooth;
}

.fs-select-box li {
	position:relative;
  display:block;
  font-family:"iCielSamsungSharpSansMedium", arial;
  font-weight:normal;
  font-size:14px;
  margin-bottom:1px;
  border-bottom:1px dotted #ccc;
	padding:17px 20px 15px 20px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.fs-select-box li.fs-selected, .fs-select-box li:not(.fs-selected):hover {
	background-color:#ccc;
}

.fs-select-box ul {
	background-color:#fff;
}

.open .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s
}


/* fs-form */
.fs-form{
  display: block;
  position: relative;
  padding-top: 30px;
}
.fs-content-form{
  position: relative;
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: 1190px;
  padding: 30px 5% 90px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(17,27,41,0.6)), color-stop(90%, rgba(17,27,41,0)));
  background: linear-gradient(180deg, rgba(17,27,41,0.6) 40%, rgba(17,27,41,0) 90%);
  -webkit-border-top-left-radius: 15px; 
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

.fs-group{
  display: block;
  position: relative;
}
.fs-group::after{
  content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}
.fs-group .fs-box{
  display: block;
  float: left;
}
.fs-group .fs-box:nth-child(1){
  padding-top: 30px;
  padding-right: 30px;
}
.fs-group .fs-box:nth-child(2){
  padding-top: 30px;
}

.fs-form-group input[type="text"]{
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  font-family:'SamsungOne';
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.fs-form-group input[type="text"]::placeholder {
  color: #fff;
  opacity: 1; 
}

.fs-form-group input[type="text"]:-ms-input-placeholder {
  color: red;
}

.fs-form-group input[type="text"]::-ms-input-placeholder {
  color: #fff;
}
.fs_col_outer{
  display: block;
  position: relative;
}
.fs_col_outer::after{
  content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}
.fs_col_outer .fs-col{
  display: block;
  width: 33%;
  float: left;
}
.fs_col_outer .fs-col:nth-child(1){
  padding-right: 8px;
}
.fs_col_outer .fs-col:nth-child(2){
  padding: 0 4px;
}
.fs_col_outer .fs-col:nth-child(3){
  padding-left: 8px;
}
/* Check box */
.fs-checkbox li {
  position: relative;
  display: block;
  line-height: 30px;
  margin-bottom: 23px;
}
.fs-checkbox .fs-checkbox-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    opacity: 0;
    -webkit-appearance: none;
}
.fs-label{
    display: inline-block;
    vertical-align: middle;
    padding-left: 48px;
    font-family: SamsungOne;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
}
.fs-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.fs-show-error .fs-label::before{
  border: 2px solid #f00;
}
.fs-label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
}
.fs-checkbox-input:checked +.fs-label::after {
  opacity: 1;
}
.fs-label .fs-link-condition{
  font-family: SamsungOne;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  text-decoration: underline;
}

/* box-but send */
.fs-but-send .fs-box-but{
  position: relative;
  display: block;
  text-align: center;
}
.fs-box-but{
  text-align: center;
}
.fs-box-but .fs-btn{
  display: inline-block;
  position: relative;
  font-family:'iCielSamsungSharpSansBold';
  font-weight: 400;
  font-style: normal;
  color: #41290b;
  font-size: 18px;
  cursor: pointer;
  line-height: 60px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.fs-box-but .fs-button-send{
  background: url(../images/button-send.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 311px;
  height: 60px;
}
.fs-box-but .fs-close-overlay{
  width: 172px;
  height: 61px;
  background: url(../images/button-close-pop.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.fs-box-but .fs-btn:hover{
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

/* error */
.fs-error-txt{
  position: absolute;
  top: 8px;
  left: 22px;
  visibility:hidden;
  opacity:0;
}
.fs-error-txt p{
  display:inline-block;
  vertical-align:middle;
  line-height:1.2;
  color:#f00;
  font-size: 11px;
}
.fs-show-error .fs-error-txt{
  visibility:visible;
  opacity:1;
}



@media screen and (max-width:1800px) {

}

@media screen and (max-width:1700px) {


}


@media screen and (max-width:1550px) {


}

@media screen and (max-width:1440px) {
  
}

@media screen and (max-width:1400px) {
 
}

@media screen and (max-width:1360px) {

}

@media screen and (max-width:1300px) {
  .fs-checkbox li{
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1200px) {
  .fs-checkbox li br{
    display: none;
  }

}

@media screen and (max-width:1150px) {

}


@media screen and (min-width:1101px) and (max-height:1000px){

}

@media screen and (min-width:1101px) and (max-height:940px){

}

@media screen and (min-width:1101px) and (max-width:1500px) and (max-height:1000px){
}

@media screen and (min-width:1101px) and (max-height:860px) {

}

@media screen and (min-width:1101px) and (max-width:1700px) and (max-height:860px) {

}

@media screen and (min-width:1101px) and (max-width:1300px) and (max-height:860px) {

  
}

@media screen and (min-width:1101px) and (max-height:740px) {
  
}

@media screen and (min-width:1101px) and (max-height:660px) {

  
}

@media screen and (min-width:1101px) and (min-width:1590px) and (max-width:1700px) and (max-height:690px) {

}

@media screen and (min-width:1101px) and (min-width:1800px) and (max-width:2000px) and (max-height:860px) {


}

@media screen and (min-width:1101px) and (min-width:1900px) and (max-width:2000px) and (max-height:730px) {
}


/*Media Mobile*/
@media screen and (max-width:1100px) {
    /*Common*/
    .pcPic, .pcBg{
      display:none;
    }
    .spPic, .spBg{
      display:block;
    }
    .fs-hideSp{
      display:none;
    }
    .fs-hidePc{
      display:block;
    }
    .fs-header{
      height:60px;
    }
    .fs-header::before, .fs-header::after{
      width:100%;
      background-size:auto 60px;
    }
    .fs-header-inr{
      width:100%;
    }
    .fs-logo{
      position: relative;
      width: 100%;
      text-align: center;
      right: auto;
      top: auto;
      margin-bottom: 22px;
    }
    .fs-title .fs-area-pic img{
      max-width: 500px;
    }
    .fs-content-form{
      width: 100%;
      padding: 30px 0px;
      -webkit-border-radius: 0;
      border-radius: 0;
      max-width: inherit;
    }
    .size-06{
      width: 100%;
    }
    .fs-group .fs-box{
      float: none;
    }
    .fs-group .fs-box:nth-child(1){
         padding-right: 0;
    }
    .fs-group{
      max-width: 600px;
      margin: 0 auto;
    }
    .fs-form-group input[type="text"]{
      padding: 25px 20px;
      font-size: 20px;
    }
    .fs-select-header{
      height: 78px;
      line-height: 70px;
    }
    .fs-select-header h3, .fs-select-header p{
      font-size: 20px;
    }
    .fs-label{
      font-size: 20px;
    }
    .fs-label .fs-link-condition{
      font-size: 20px;
    }
    .fs-but-send .fs-box-but{
      padding-top: 30px;
    }
    .fs-error-txt p{
      font-size: 14px;
    }
    .fs-recaptcha{
      text-align: center;
    }
    .fs-recaptcha .g-recaptcha{
      display: inline-block;
    }

}
@media screen and (max-width:1100px) and (orientation :landscape) {


}

@media screen and (max-width:840px) {

}


@media screen and (max-width:840px)  and (orientation :landscape){

}

@media screen and (max-width:700px) {

}

@media screen and (max-width:600px) {
  
}

@media screen and (max-width:560px) {
  .fs-cnt-inr{
    padding-top: 30px;
  }
  .fs-logo img{
    max-width: 100px;
  }
  .fs-title h2{
    font-size: 24px;
    margin-bottom: 0;
  }
  .fs-title .fs-area-pic img {
    max-width: 514px;
    width: 68%;
  }
  .fs-group{
    width: 90%;
  }
  .fs-label, .fs-form-group input[type="text"], .fs-label .fs-link-condition, 
  .fs-select-header h3, .fs-select-header p{
    font-size: 13px;
  }
  .fs-form-group input[type="text"]{
    padding: 14px 20px 14px 14px;
  }
  .fs-select-header {
    height: 47px;
    line-height: 40px;
    padding: 0 0 0 14px;
  }
  .fs-select .fs-select-header::after{
    right: 10px;
    width: 13px;
    height: 10px;
  }
  .fs-error-txt p{
    font-size: 10px;
  }
  .fs-checkbox li{
    margin-bottom: 10px;
  }
  .fs-info h2{
    font-size: 18px;
  }
  .fs-info p, .fs-des p{
    font-size: 13px;
  }
  .fs-des p br{
    display: none;
  }
  .fs-des{
    padding: 0 5%;
  }
  .fs-info h2, .fs-info p{
    padding-top: 20px;
  }
  .pop-thanks .fs-box-but{
    padding-top: 20px;
  }
  .pop-thanks .fs-box-pic{
    max-width: 185px;
  }
  .fs-overlay-inr{
    padding-bottom: 50px;
  }
  .fs-box-but .fs-close-overlay{
    width: 40%;
    height: 48px;
    line-height: 48px
  }
  .fs-icon-pop .fs-area-pic img{
    max-width: 40px;
  }
  .fs-group .fs-box:nth-child(1){
    padding-top: 20px;
    padding-right: 0;
  }
  .fs-group .fs-box:nth-child(2) {
    padding-top: 20px;
  }
  .fs-error-txt{
    top: 2px;
  }
  .fs-title .fs-area-pic{
    margin-top: 20px;
  }
  .fs-form{
    padding-top: 0;
  }
  .fs-box-but .fs-button-send{
    background: url(../images/button-send-sp.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 47px;
    line-height: 47px;
  }
  .fs-overlay-condition-detail h3 {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .fs-overlay-condition-detail p {
    font-size: 11px;
  }
  .fs-close-overlay-condition {
    top: 20px;
    right: 13px;
    width: 15px;
    height: 15px;
  }

}


@media screen and (max-width:390px) {

}

@media screen and (max-width:370px) {
  .fs-box-but .fs-close-overlay {
    width: 42%;
    height: 48px;
    line-height: 48px;
  }

}

@media screen and (max-width:350px){
  .fs-title h2{
    font-size: 20px;
  }  
  .fs-box-but .fs-button-send{
    height: 47px;
    line-height: 40px;
  }
  .fs-box-but .fs-close-overlay{
    width: 40%;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
  }
}